.section {
  background-color: lemonchiffon;
}

.title {
  color: rgb(119, 209, 221);
}

.your name {
  color: black
}



#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue
}

#portfolio {
  background-color: darkorange;
}


